<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>romajiKey</key>
		<string>a</string>
		<key>imageKey</key>
		<string>a.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>i</string>
		<key>imageKey</key>
		<string>i.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>u</string>
		<key>imageKey</key>
		<string>u.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>e</string>
		<key>imageKey</key>
		<string>e.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>o</string>
		<key>imageKey</key>
		<string>o.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ka</string>
		<key>imageKey</key>
		<string>ka.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ki</string>
		<key>imageKey</key>
		<string>ki.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ku</string>
		<key>imageKey</key>
		<string>ku.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ke</string>
		<key>imageKey</key>
		<string>ke.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ko</string>
		<key>imageKey</key>
		<string>ko.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>sa</string>
		<key>imageKey</key>
		<string>sa.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>shi</string>
		<key>imageKey</key>
		<string>shi.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>su</string>
		<key>imageKey</key>
		<string>su.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>se</string>
		<key>imageKey</key>
		<string>se.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>so</string>
		<key>imageKey</key>
		<string>so.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ta</string>
		<key>imageKey</key>
		<string>ta.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>chi</string>
		<key>imageKey</key>
		<string>chi.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>tsu</string>
		<key>imageKey</key>
		<string>tsu.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>te</string>
		<key>imageKey</key>
		<string>te.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>to</string>
		<key>imageKey</key>
		<string>to.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>na</string>
		<key>imageKey</key>
		<string>na.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ni</string>
		<key>imageKey</key>
		<string>ni.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>nu</string>
		<key>imageKey</key>
		<string>nu.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ne</string>
		<key>imageKey</key>
		<string>ne.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>no</string>
		<key>imageKey</key>
		<string>no.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ha</string>
		<key>imageKey</key>
		<string>ha.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>hi</string>
		<key>imageKey</key>
		<string>hi.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>fu</string>
		<key>imageKey</key>
		<string>fu.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>he</string>
		<key>imageKey</key>
		<string>he.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ho</string>
		<key>imageKey</key>
		<string>ho.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ma</string>
		<key>imageKey</key>
		<string>ma.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>mi</string>
		<key>imageKey</key>
		<string>mi.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>mu</string>
		<key>imageKey</key>
		<string>mu.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>me</string>
		<key>imageKey</key>
		<string>me.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>mo</string>
		<key>imageKey</key>
		<string>mo.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ya</string>
		<key>imageKey</key>
		<string>ya.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>yu</string>
		<key>imageKey</key>
		<string>yu.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>yo</string>
		<key>imageKey</key>
		<string>yo.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ra</string>
		<key>imageKey</key>
		<string>ra.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ri</string>
		<key>imageKey</key>
		<string>ri.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ru</string>
		<key>imageKey</key>
		<string>ru.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>re</string>
		<key>imageKey</key>
		<string>re.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>ro</string>
		<key>imageKey</key>
		<string>ro.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>wa</string>
		<key>imageKey</key>
		<string>wa.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>wo</string>
		<key>imageKey</key>
		<string>wo.png</string>
	</dict>
	<dict>
		<key>romajiKey</key>
		<string>n</string>
		<key>imageKey</key>
		<string>n.png</string>
	</dict>
</array>
</plist>
